.container{
    width:  1000px;
    height: 700px;
    margin: auto;
    background-color: rgb(223, 235, 234);
}
.title {
    width: 40%;
    margin: auto;
    margin-top: 5px;
    display: flex;
}
.row {
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
}
.col-sm-4{
    text-align: center;
    border: 2px solid rgb(219, 217, 214);
    font-size: 15px;
    display: flex;
    flex-direction: column; 
}
button {
    /* width: 150px; */
    margin-bottom: 2px;
}

.chat-area {
    width: 70%;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid rgb(219, 217, 214);
    background-color: white;
    
}
.send-box {
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 5px;
    background-color: blanchedalmond;
}