.container{
    width:  1000px;
    margin: auto;
}


.row {
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(135, 219, 222);
    
}
.col-sm-4{
    text-align: center;
    border: 2px solid grey;
    /* background-color: blanchedalmond; */
    
}

.message-box {
    width: 70%;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    border: 2px solid burlywood;
    
}
.send-box {
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 5px;
    background-color: blanchedalmond;
}